# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE generated folders
.idea/
stage/
public/

# Virtual environment folder
.venv/

# Ignora qualquer pasta __pycache__ em qualquer nível
__pycache__/

# ou explicitamente com glob
**/__pycache__/

# vscode workspace config
.vscode/

# 
assets/calibration_raw/**
assets/manual/**
assets/out/**

dist/**
build/**
main.spec